<table class="table table-sm table-hover table-bordered">
	<col style="width: 250px" />
	<col nowrap th:each="h: ${headers}" th:class="${h.data == 'WEEKEND' ? 'table-col-weekend' : ''}" />
    <thead>
    	<tr>
    		<th>Ticket</th>
    		<th th:each="h: ${headers}" th:text="${h.displayValue}"></th>
    	</tr>
   	</thead>
   	<tbody class="table-striped">
   		<tr>
   			<td class="table-ticket-key">Fill Day</td>
    		<td th:each="cell, iter: ${fillDayRow}">
    			<th:block th:if="${headers[iter.index].data != 'WEEKEND' && 
    					totalRow[iter.index].displayValue != '8.0h'}">
	    			<button class="table-fillday-btn btn btn-primary" 
	    					data-th-attr="data-date=${cell.data}, data-total=${totalRow[iter.index].displayValue}"
	    					onclick="fillDayBtnOnclick(this);">
	    				Fill
	    			</button>
    			</th:block>
    		</td>
   		</tr>
   		<tr>
   			<td class="table-ticket-key">Total</td>
    		<td th:each="cell: ${totalRow}">
    			<th:block th:if="${cell.displayValue != '0.0h'}">
    				<span th:text="${cell.displayValue}" 
    					th:class="${cell.displayValue == '8.0h' ? 
    						'table-cell-total-green' : 'table-cell-total-red'}">
    				</span>
    			</th:block>
    		</td>
   		</tr>
    	<tr th:each="row: ${table}">
    		<td th:each="cell,iter: ${row}">
    		
		    	<th:block th:if="${cell.type == T(com.catprogrammer.jira.model.CellType).TICKET}">
	    			<p class="table-ticket-key" th:text=${cell.displayValue}></p>
	    			<p class="table-ticket-summary" th:text=${cell.data}></p>
	    		</th:block>
	    		
		    	<th:block th:if="${cell.type == T(com.catprogrammer.jira.model.CellType).TIMESPENT}">
	    			<a class="table-cell-timespent" th:text="${cell.displayValue}" href="#"
	    					data-th-attr="data-date=${fillDayRow[iter.index - 1].data}, data-ticket=${row[0].displayValue}, data-worklogid=${cell.data}"
	    					onclick="updateTimeToTicketOfDate(this);"></a>
				</th:block>
				
		    	<th:block th:if="${cell.type == T(com.catprogrammer.jira.model.CellType).ADDTIME}">
	    			<th:block th:if="${headers[iter.index - 1].data != 'WEEKEND' && 
	    					totalRow[iter.index - 1].displayValue != '8.0h'}">
		    			<button class="table-fillday-btn btn btn-primary" 
		    					data-th-attr="data-date=${fillDayRow[iter.index - 1].data}, data-ticket=${row[0].displayValue}"
		    					onclick="addTimeToTicketOfDate(this);"> + </button>
	    			</th:block>
				</th:block>
				
    		</td>
    	</tr>
    	<tr><td><button class="btn btn-primary"onclick="addTicketBtnOnClick();">Add</button></td></tr>
   	</tbody>
</table>