<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Simple Jira Imputation"/>
    <meta name="author" content=""/>
    <title>Simple Jira Imputation</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.all.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="main-div">
		<th:block th:if="${not jsrender}" th:include="index.table.thymeleaf" />
		<th:block th:if="${jsrender}" th:text="Loading..." />
    </div>
	<th:block th:if="${jsrender}" th:include="index.table.jsrender" />
    
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jsrender.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/sweetalert.min.js"></script>
	<script src="js/base.thymeleaf.js"></script>
	<th:block th:if="${jsrender}"><script src="js/base.jsrender.js"></script></th:block>
</body>
</html>